.img-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height:220px; /* 设置容器高度，可以根据需要调整 */
}

.img-container img {
  display: inline-block;
  user-selected:none;
}

.no-link-style {
  text-decoration: none; /* 去掉下划线 */
  outline: none; /* 去掉链接的焦点样式（点击后的虚线框） */
  border: none; /* 去掉链接的边框 */
}
